.grid{
	border: 1px solid;
	display: flex;
	flex-wrap: wrap;
	height: 120px;
	width: 140px;
}

.grid div{
	width: 20px;
	height: 20px;
}

.player-one{
	border-radius: 10px;
	background-color: red;
}

.player-two{
	border-radius: 10px;
	background-color: blue;
}